bcrypt
psycopg2-binary
pydantic-settings
python-dotenv
fastapi
uvicorn[standard]
email-validator
sqlalchemy
requests
passlib[bcrypt]
python-jose[cryptography]
python-multipart
alembic
fastapi-mail
jinja2
slowapi
redis

